Main="/home/kangh/lab-server/Tool/Splice-decoder_git/"
code="/home/kangh/lab-server/Tool/Splice-decoder_git/code/"
cpatdb="/home/kangh/lab-server/Tool/Splice-decoder_git/dat/"
input="/home/kangh/lab-server/Tool/Splice-decoder_git/example/Luminal/"
Your_rMATS="/home/kangh/lab-server/Longread/data/FISH_SR_data/Luminal/"
Your_GTF="/home/kangh/lab-server/FISH_val/3rd_ONT/GTF/flair_1st_SQANTI3_new/manual2/manual2.filtered.gtf"
Your_TPM="/projects/anczukow-lab/yuriem/Splice-decoder_git/tpm_table/resistantVSsensitive_tpm.tsv"
bam_list=""
species="human"
seq_type="LR"
FDR="0.05"
PSI="0.1"
njobs="40"
tpm="Y_own"
conda="/projects/anczukow-lab/kangh/miniforge-pypy3/envs/splice-decoder/bin//"
cpat="/projects/anczukow-lab/kangh/miniforge-pypy3/envs/splice-decoder/bin//cpat"
bedtools="/projects/anczukow-lab/kangh/miniforge-pypy3/envs/splice-decoder/bin//bedtools"
